.userform {
  width: auto;
  display: flex;
  flex-direction: column;
  row-gap: 1vw;
}

.userform-username {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userform-age {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userform input:focus {
  outline: none;
}
