.userform {
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userform-username {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.userform-age {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
